## Use Github Actions to build sailfishos rpms
## Copy from https://github.com/CODeRUS/screencast
## Thanks CODeRUS

name: SouniaoIME

on:
  push:
    tags:
      - '*'
    branches:
      - master

env:
  RELEASE: 5.0.0.43

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - { name: armv7hl, image: coderus/sailfishos-platform-sdk }
          - { name: i486, image: coderus/sailfishos-platform-sdk }
          - { name: aarch64, image: coderus/sailfishos-platform-sdk-aarch64 }

    steps:
    - uses: actions/checkout@v4
    - name: Prepare
      run: mkdir output

    - name: Build ${{ matrix.arch.name }}
      run: docker run --rm --privileged -v $PWD:/share ${{ matrix.arch.image }}:$RELEASE /bin/bash -c "
            mkdir -p build ;
            cd build ;
            cp -r /share/* . ;
            mb2 -t SailfishOS-$RELEASE-${{ matrix.arch.name }} qmake ;
            mb2 -t SailfishOS-$RELEASE-${{ matrix.arch.name }} build ;
            mb2 -t SailfishOS-$RELEASE-${{ matrix.arch.name }} package ;
            ls -al RPMS;
            cp -r RPMS/*.rpm /share/output"

    - name: Upload build result
      uses: actions/upload-artifact@v4
      with:
        name: harbour-souniaoime-rpms.zip
        path: output

    - name: Create release
      if: contains(github.ref, 'release')
      run: |
        set -x
        assets=()
        for asset in output/*.rpm; do
          assets+=("-a" "$asset")
        done
        tag_name="${GITHUB_REF##*/}"
        hub release create "${assets[@]}" -m "$tag_name" "$tag_name"
      env:
        GITHUB_TOKEN: ${{ secrets.MYCITOKEN }}
